<p>Sign In</p>
<%= form_for @user,:url => { :action => "login" } do |f|  %>
  <p>
    <%= f.label 'email:' %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label 'password:' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Sign In' %>&nbsp;&nbsp;&nbsp;
    <%= f.submit 'Clear Form', :type => 'reset' %>
  </p>
<% end %>
<p>
  <%= link_to 'forgot your password?', :forgot_password %>
</p>
<p>
  <%= link_to "User Post", new_path %>, <%= link_to "Sign up", new_user_path %> 

</p>